{{define "nav"}}
<div class="lefter">
    <div class="logo">
        <a href="http://www.pintuer.com" target="_blank"><img src="/res/images/logo.png" alt="后台管理系统" /></a>
    </div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
            <a class="button button-little bg-main" href="http://www.pintuer.com" target="_blank">前台首页</a>
            <a class="button button-little bg-yellow" href="login.html">注销登录</a>
        </span>
            <ul class="nav nav-inline admin-nav">
                <li class="active">
                    <a href="index.html" class="icon-home"> 开始</a>
                    <ul>
                        <li><a href="system.html">系统设置</a></li>
                        <li><a href="content.html">内容管理</a></li>
                        <li><a href="#">订单管理</a></li>
                        <li class="active"><a href="#">会员管理</a></li>
                        <li><a href="#">文件管理</a></li>
                        <li><a href="#">栏目管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="system.html" class="icon-cog"> 系统</a>
                    <ul>
                        <li><a href="#">全局设置</a></li>
                        <li class="active"><a href="#">系统设置</a></li>
                        <li><a href="#">会员设置</a></li>
                        <li><a href="#">积分设置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="content.html" class="icon-file-text"> 内容</a>
                    <ul>
                        <li><a href="#">添加内容</a></li>
                        <li class="active"><a href="#">内容管理</a></li>
                        <li><a href="#">分类设置</a></li>
                        <li><a href="#">链接管理</a></li>
                    </ul>
                </li>
                <li><a href="#" class="icon-shopping-cart"> 订单</a></li>
                <li><a href="#" class="icon-user"> 会员</a></li>
                <li><a href="#" class="icon-file"> 文件</a></li>
                <li><a href="#" class="icon-th-list"> 栏目</a></li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，admin，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="index.html" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>
{{end}}