{{define "nav"}}
<div class="lefter">
    <div class="logo">
        <a href="http://www.pintuer.com" target="_blank"><img src="/res/images/logo.png" alt="后台管理系统" /></a>
    </div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
            <a class="button button-little bg-main" href="http://www.pintuer.com" target="_blank">前台首页</a>
            <a class="button button-little bg-yellow" href="login.html">注销登录</a>
        </span>
            <ul class="nav nav-inline admin-nav">
                <li id="index">
                    <a href="/" class="icon-home"> 开始</a>
                    <ul>
                        <li><a href="/system">系统设置</a></li>
                        <li><a href="/search">快速搜索</a></li>
                    </ul>
                </li>
                <li id="system" >
                    <a href="/system" class="icon-cog"> 系统</a>
                    <ul>
                        <li><a href="#">全局设置</a></li>
                        <li class="active"><a href="#">系统设置</a></li>
                        <li><a href="#">用户设置</a></li>
                    </ul>
                </li>
                <li id="redis">
                    <a href="/redislist" class="icon-support"> Redis</a>
                    <ul>
                        <li class="active"><a href="/redislist">Redis管理</a></li>
                        <li><a href="/redisadd">添加Redis</a></li>
                        <li><a href="#">分类设置</a></li>
                        <li><a href="#">链接管理</a></li>
                    </ul>
                </li>
                <li id="keys">
                    <a href="/keyslist" class="icon-anchor"> Keys</a>
                    <ul>
                        <li class="active"><a href="/keyslist">Keys管理</a></li>
                        <li><a href="/keysadd">添加Keys</a></li>
                    </ul>
                </li>
                <li id="search">
                    <a href="/search" class="icon-search"> 搜索</a>
                </li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，admin，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="index.html" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>
{{end}}