{{define "content"}}
{{template "header" .}}
{{template "nav" .}}
<div class="admin">
    <div class="line">
        <form method="post" class="form-x" action="system.html">
            <div class="form-group">
                <div class="label">
                    <label>网站维护状态</label>
                </div>
                <div class="field">
                    <div class="button-group button-group-small radio">
                        <label class="button active">
                            <input name="pintuer" value="yes" checked="checked" type="radio"><span class="icon icon-check"></span> 开启</label>
                        <label class="button">
                            <input name="pintuer" value="no" type="radio"><span class="icon icon-times"></span> 关闭</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="readme">维护说明</label>
                </div>
                <div class="field">
                    <textarea class="input" rows="5" cols="50" placeholder="请填写维护说明" data-validate="required:请填写维护说明"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">网站名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="sitename" name="sitename" size="50" placeholder="网站名称" data-validate="required:请填写你网站的名称" />
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="siteurl">网址</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="siteurl" name="siteurl" size="50" placeholder="请填写网址" data-validate="required:请填写网址" />
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="logo">标志</label>
                </div>
                <div class="field">
                    <a class="button input-file" href="javascript:void(0);">+ 浏览文件<input size="100" type="file" name="logo" data-validate="required:请选择上传文件,regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件" /></a>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="title">优化标题</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="title" name="title" size="50" placeholder="title标题内容，用于搜索引擎优化" data-validate="required:请填写优化标题，建议在80字以内。" />
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="keywords">关键词</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="keywords" name="keywords" size="50" placeholder="站点关键词，用于搜索引擎优化" data-validate="required:请填写站点关键词，建议在100字以内。" />
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="desc">描述</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="desc" name="desc" size="50" placeholder="网站的描述，用于搜索引擎优化" data-validate="required:请填写网站的描述，建议在200字以内。" />
                </div>
            </div>
            <div class="form-button">
                <button class="button bg-main" type="submit">提交</button>
            </div>
        </form>
    </div>
{{template "footer" .}}
{{end}}